<!DOCTYPE html>
<html>

<head>
    <title>{{postcode}} Property</title>
    <meta charset="UTF-8">
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container" class="form-group">
        <div class="page-header">
            <h2>Results for postcode {{postcode}} with {{beds}} bedrooms</h2>
        </div>
        <br> {{table| safe}}
        <br>
        <br>
        <br>
        <p> Full count from API call: {{listing_count}}</p>
        <p>Click <a href="/">here</a> to go home</p>
        <p>{{ datetime }}</p>
        <br>
        <br>
    </div>
</body>

</html>
